body {
    margin: 0;
    height: 100vh; /* Ajusta la altura del cuerpo para cubrir toda la pantalla */
    background-color: rgb(120, 224, 215);
    overflow: hidden; /* Oculta la barra de desplazamiento */
  }

.Corte3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(120, 224, 215);
  }

  .h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .imagen-container2 {
    display: flex;
    justify-content: space-around; /* Espacio uniforme entre las imágenes y sus enunciados */
  }
  
.imagen-item2 {
    text-align: center; /* Alinea el contenido en el centro */
  }

.imagen7 {
    max-width: 70%; /* Ajusta el ancho máximo de las imágenes según tus necesidades */
    height: auto;   /* Hace que la imagen sea proporcionalmente ajustable al ancho */
  }

.imagen8 {
    max-width: 75%; /* Ajusta el ancho máximo de las imágenes según tus necesidades */
    height: auto;   /* Hace que la imagen sea proporcionalmente ajustable al ancho */
  }
